#body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

span{
  color:#33CC33;
}

.navbar{
  box-shadow:0px 20px 40px rgba(0,0,0,0.6);
}
.navbar span{
  font-family: 'Dokdo', cursive;
  font-size:32px;
}
.carousel-inner{
  height:600px;
}



.carousel-caption{
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  left:10%!important;
  top:10%;
  font-size:28px;
  color:white!important;
}

.carousel-caption hr{
  color:white;
  border:2px solid white;
  width:20%;
}

.carousel-caption h2, p{
  display:inline-block;
}

.sidebar{
  height:600px!important;
    box-shadow:0px 20px 40px rgba(0,0,0,0.5);
    background:#333;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebar a{
  text-transform:uppercase;
  margin:5px 0px;
  width:100%!important;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.sidebar i{
  font-size:14px;
}

.sidebar .active{
  background:#33cc33!important;
}

.sidebar a:hover{
  color:white;
  text-decoration:none;
}


#main h1{
  font-family: 'Alegreya Sans SC', sans-serif;
  display:inline-block;
  /*text-transform:uppercase;*/
  color:#33CC33!important;
}

#main p{
  font-weight:200;
  font-size: 20px;
}


footer{
  background:#333;
}

footer a{
  text-decoration:none;
  list-style-type:none;
  color:#33CC33;
}


footer .fab{
  font-size:24px;
  color:white;
}




/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: .8s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #33cc33;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}